.About-center {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.About-h {
    margin-bottom: 2rem;
    background-color: #963747;
    color: white;
    padding: 20px;
}

.About-main {
    max-width: 800px;
    
}

h1 {
    font-size: 2em;
    margin-bottom: 1em;
}

p {
    line-height: 1.5; 
}

footer {
    background-color: #ccc;
    padding: 1em;
    width: 100%;
    align-self: center;
}