.Contact-Box {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: white;
}

.Contact-h {
    margin-bottom: 2rem;
    background-color: #963747;
    color: white;
    padding: 20px;
}

.Contact-main {
    padding: 20px;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 10px;
}

.Contact-main input,
.Contact-main textarea {
    font-size: 1rem;
    line-height: 48px;
    padding: 0 1rem;
    width: 100%;
    border-radius: 0.5rem;
    border: none;
    outline: none;
    box-shadow: 0 0 0 2px #5c0a29;
}

.contact-form2 input::placeholder,
textarea::placeholder {
    font-family: inherit;
    opacity: 0.5;
}

.contact-form2 input[type="submit"] {
    background-color: #333;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
}

.contact-form2 .btn {
    width: 100%;
    border: none;
    outline: none;
    border-radius: 0.5rem;
    margin-top: 1.25rem;
    cursor: pointer;
    background: #536cb1;
    line-height: 48px;
    font-family: inherit;
    font-size: inherit;
    color: white;
}
    
.contact-form2  .btn-primary {
    background: #536cb1;
    color: var(--primary);
    color: white;
}