* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: Arial, sans-serif;
	background-color: #f2f2f2;
}

.container {
	width: 50%;
	margin: 0 auto;
	margin-top: 100px;
	text-align: center;
}

h1 {
	font-size: 2rem;
	margin-bottom: 20px;
}

button {
	padding: 10px 20px;
	background: #536cb1;
	color: #fff;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	transition: background-color 0.2s ease-in-out;
}

button:hover {
	background-color: #006080;
}
