.message {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 20px;
  }
  
  .message h2 {
    font-size: 20px;
    margin-top: 0;
    margin-bottom: 5px;
  }
  
  .message p {
    margin: 0;
  }
  
  .message p.post-info {
    font-style: italic;
    margin-top: 5px;
    margin-bottom: 10px;
  }
  
  .message button {
    margin-right: 10px;
    padding: 5px 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
  }
  
  .message button:disabled {
    background-color: #ccc;
    cursor: default;
  }
  