.banner {
    background-color: white;
    }
    h1{
        color:green;
        text-shadow: 1px 1px 2px black;
        text-align: center
    }
    body{
        width: 50%;
        margin: auto;
    }
    form{
        display: grid;
        grid-template-columns: 50% 50%;
        border : 3px solid black;
        padding : 0.5rem;
        width: 40em;
        
    }