* {
    box-sizing: border-box;
}

/* Set a consistent font family and size for the entire page */

/* Header styles */
.header-page {
    font-family: "Poppins", sans-serif;
    padding: 10px;
    background-color: #f1f1f1;
    flex : content;
}

header {
    background-color: #8596c5;
    padding : 0.5rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    
    height: 150px;
}

header .left-side {
    background-color: #8596c5;
    height: 100%;
    width: 20%;
    align-items: center;
    text-align: center;
}

header .middle-side {
    background-color: #8596c5;
    width: 60%;
    
    align-items: center;
    text-align: center;
}

header .right-side {
    background-color: #8596c5;
    width: 20%;
    height: 100%;
    
}

.name,
.logo {
    color: black;
    background-image: url(./logo.jpg);
}

header .middle-side input {
    font-size: 1rem;
    line-height: 48px;
    padding: 0 1rem;
    width: 90%;
    border-radius: 0.5rem;
    border: none;
    outline: none;
    box-shadow: 0 0 0 2px #536cb5;
    margin-right: 10px;
    
}

header .middle-side input::placeholder {
    font-family: inherit;
    opacity: 0.5;
}


header .middle-side button {
    border: none;
    outline: none;
    border-radius: 0.5rem;
    cursor: pointer;
    background: #536cb1;
    line-height: 48px;
    font-family: inherit;
    font-size: inherit;
    color: white;
    padding: 0 1rem;
    
}

header .right-side button {
    background: #536cb1;
 
}

main {
    display: flex;
    flex-direction: row;
    
}

.sidebar {
    float: left;
    width: 20%;
    padding: 10px;
    height: 100%;
    overflow: auto;
    margin-right: 20px;
    background-color: #eaf0f5;

}

.sidebar a {
    display: block;
    color: black;
    padding: 16px;
}
    
.sidebar a.active {
    background-color: #8596c5;
    color: white;
}

.sidebar a:hover:not(.active) {
    background-color: #555;
    color: white;
}

main .left-side {
    background-color: rgb(240, 239, 239);
    width: 9.5%;
    padding: 5px;
    align-items: center;
    text-align: center;
    height: 800px;
}

main .middle-side {
    background-color: #eaf0f5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    padding: 5px;
    align-items: center;
    text-align: center;
    height: 100%;
}

main .right-side {
    background-color: #eaf0f5;
    flex: 1;
    margin-left: 20px;
    width: 50%;
    padding: 5px;
    align-items: center;
    height: 100%;
}


@media screen and (max-width: 700px) {
    .row {   
        flex-direction: column;
    }
}

@media screen and (max-width: 400px) {
    .sidebar a {
        float: none;
        width: 100%;
    }
}


/*version 2 C:*/

* {
    box-sizing: border-box;
}

.header-page {
    font-family: "Poppins", sans-serif;
    padding: 10px;
    background-color: #f1f1f1;
    flex : content;
}

header .left-side {
    width: 20%;
}

header .middle-side {
    width: 60%;
}

header .right-side {
    width: 30%;
    height: 100px;
}

.name,
.logo {
    color: black;
}

header .middle-side input {
    font-size: 1rem;
    line-height: 48px;
    padding: 0 1rem;
    width: 100%;
    border-radius: 0.5rem;
    border: none;
    outline: none;
    box-shadow: 0 0 0 2px #536cb1;
    margin-right: 10px;
}

header .middle-side input::placeholder {
    font-family: inherit;
    opacity: 0.5;
}

header .right-side button {
    border: none;
    outline: none;
    border-radius: 0.5rem;
    cursor: pointer;
    background: #536cb1;
    line-height: 48px;
    font-family: inherit;
    font-size: inherit;
}

main {
    display: flex;
    flex-direction: row;
}

.sidebar {
    float: left;
    width: 20%;
    padding: 10px;
    height: 100%;
    overflow: auto;
    margin-right: 20px;
}

.sidebar a {
    display: block;
    color: black;
    padding: 16px;
}
    
.sidebar a.active {
    background-color: #8596c5;
    color: white;
}

.sidebar a:hover:not(.active) {
    background-color: #555;
    color: white;
}

main .middle-side {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60%;
    padding: 5px;
}

main .right-side {
    flex: 1;
    margin-left: 20px;
    width: 20%;
    padding: 5px;
}


@media screen and (max-width: 700px) {
    .row {   
        flex-direction: column;
    }
}

@media screen and (max-width: 400px) {
    .sidebar a {
        float: none;
        width: 100%;
    }
}


import "../App.css";
import { useState } from 'react';
import NavigationPanel from "./NavigationPanel";
import Signin from "./Signin";
import Signup from "./Signup";
import Message from "./Message";
import MessageList from "./MessageList";
import "./MainPage.css";
import MessageForm from "./MessageForm";

function MainPage(props){
    // The initial value of isConnected should be false, not true
    const [isConnected, setConnect] = useState(false);
    // The initial value of page should be "signin_page", not "login_page"
    const [page, setPage] = useState("Signup");

    const getConnected = () => {
        setConnect(true);
        setPage("Message");
    }

    const setLogout = () => {
        setConnect(false);
        setPage("Signup");
    }

    return( 
        <>
        <div className="header-page">
            <header>
                <div className="left-side">
                        <div className="logo">
                            <img src="logo.jpg" alt="Birdy logo" width="100" height="100"/>
                        </div>
                </div>

                <div className="middle-side">
                    <input type="text" placeholder="Search.." name="search" />
                
                </div>

                <div className="right-side">
                    <button type="submit">Submit</button>
                </div>
                
            </header>
        </div>
        
        <div className="main-page">
            <main>
                <div className="sidebar">
                        <a className="active" href="home.html"><i className="fa fa-fw fa-home"></i>Home</a>
                        <a href="contact.html"><i className="fa fa-fw fa-envelope"></i>Contact</a>
                        <a href="about.html"><i className="fa fa-fw fa-wrench"></i>About</a>
                        <a href="help.html"><i className="fa fa-fw fa-user"></i>Help</a>
                </div>
                
                <div className="middle-side">
                    <h2>Messages</h2>
                    <ul>
                        <MessageList />
                        <li>Message 1</li>
                        <li>Message 1</li>
                        <li>Message 1</li>
                    </ul>
                    <label for="newcomm">Nouveau commentaire :</label><MessageForm />
                </div>

                <div className="right-side">
                    <div>
                        <h3>Welcome Back In! Please Sign In.</h3>
                        <a href="#" onClick={() => setPage("Signin")}>Sign In</a>
                        <br/>
                        <br/>
                        <h3>Are you new here? Sign Up below.</h3>
                        <a href="#" onClick={() => setPage("Signup")}>Sign Up</a>
                    </div>
                    
                    {page === "Signin" ? <Signin getConnected={getConnected} /> : null}
                    {page === "Signup" ? <Signup getConnected={getConnected} /> : null}
                    {page === "Message" ? <Message /> : null}
                </div>
            </main>    
        </div>
        </>
    );
}